<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>知识库</title>
    <link href=/css/TikuTable.3931e4e8.css rel=prefetch>
    <link href=/css/ViewPaper.cd8423e5.css rel=prefetch>
    <link href=/css/ViewTags.6e15a3b7.css rel=prefetch>
    <link href=/css/chunk-7e066a43.780462cf.css rel=prefetch>
    <link href=/js/BasicTable.c159fdea.js rel=prefetch>
    <link href=/js/CreatePaper.70a10264.js rel=prefetch>
    <link href=/js/InputTiku.f8a02be9.js rel=prefetch>
    <link href=/js/ModifyProblem.3cbd585b.js rel=prefetch>
    <link href=/js/PaperList.7914831e.js rel=prefetch>
    <link href=/js/TikuTable.ebdc3273.js rel=prefetch>
    <link href=/js/VerifyTable.50f2a2af.js rel=prefetch>
    <link href=/js/ViewPaper.df60a86b.js rel=prefetch>
    <link href=/js/ViewProblem.ae5691fa.js rel=prefetch>
    <link href=/js/ViewTags.782e6195.js rel=prefetch>
    <link href=/js/chunk-7e066a43.8160f3ab.js rel=prefetch>
    <link href=/css/app.1775e3f1.css rel=preload as=style>
    <link href=/css/chunk-vendors.c2bd9410.css rel=preload as=style>
    <link href=/js/app.a7919a4e.js rel=preload as=script>
    <link href=/js/chunk-vendors.a64dd8a0.js rel=preload as=script>
    <link href=/css/chunk-vendors.c2bd9410.css rel=stylesheet>
    <link href=/css/app.1775e3f1.css rel=stylesheet>
</head>
<body>
<noscript><strong>加载中...如果长时间加载失败，请更换一个现代的浏览器</strong></noscript>
<div id=app></div>
<script src=/js/chunk-vendors.a64dd8a0.js></script>
<script src=/js/app.a7919a4e.js></script>
</body>
</html>