<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>知识库</title>
    <link href=/css/CreatePaper.e8201d32.css rel=prefetch>
    <link href=/css/PaperList.e8201d32.css rel=prefetch>
    <link href=/css/RoleTable.214df1cd.css rel=prefetch>
    <link href=/css/TikuTable.f3919254.css rel=prefetch>
    <link href=/css/UserTable.501712ed.css rel=prefetch>
    <link href=/css/VerifyTable.e8201d32.css rel=prefetch>
    <link href=/css/ViewPaper.cebd34dc.css rel=prefetch>
    <link href=/css/ViewTags.26ea48a8.css rel=prefetch>
    <link href=/css/chunk-47a22070.655b3b23.css rel=prefetch>
    <link href=/js/BasicTable.adb99312.js rel=prefetch>
    <link href=/js/CreatePaper.bc94f64c.js rel=prefetch>
    <link href=/js/InputTiku.aa5e657c.js rel=prefetch>
    <link href=/js/ModifyProblem.fd4173a8.js rel=prefetch>
    <link href=/js/PaperList.937f740b.js rel=prefetch>
    <link href=/js/RoleTable.f474ee1c.js rel=prefetch>
    <link href=/js/TikuTable.46bae7d5.js rel=prefetch>
    <link href=/js/UserTable.edea09b4.js rel=prefetch>
    <link href=/js/VerifyTable.150af598.js rel=prefetch>
    <link href=/js/ViewPaper.c6f61128.js rel=prefetch>
    <link href=/js/ViewProblem.5ff382a1.js rel=prefetch>
    <link href=/js/ViewTags.8416a370.js rel=prefetch>
    <link href=/js/chunk-47a22070.dc95c49d.js rel=prefetch>
    <link href=/css/app.1775e3f1.css rel=preload as=style>
    <link href=/css/chunk-vendors.c2bd9410.css rel=preload as=style>
    <link href=/js/app.3ef12089.js rel=preload as=script>
    <link href=/js/chunk-vendors.a64dd8a0.js rel=preload as=script>
    <link href=/css/chunk-vendors.c2bd9410.css rel=stylesheet>
    <link href=/css/app.1775e3f1.css rel=stylesheet>
</head>
<body>
<noscript><strong>加载中...如果长时间加载失败，请更换一个现代的浏览器</strong></noscript>
<div id=app></div>
<script src=/js/chunk-vendors.a64dd8a0.js></script>
<script src=/js/app.3ef12089.js></script>
</body>
</html>